asgiref
certifi
charset-normalizer
Django
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
inflection
packaging
Pillow
psycopg2-binary
PyJWT
pytz
PyYAML
requests
sqlparse
stripe
typing_extensions
uritemplate
urllib3
celery
celery-beat
